#body_color {
    background: #9e9e9e;
}
#headcolor {
    color: black;
    font-family: "Montserrat", "Roboto", sans-serif;
}
section {
    width: calc(80% - 1em - 1em);
    height: 35em;
    margin: 1em auto;
    padding: 1em;
    border: 1px solid black;
    border-radius: .5em;
    background: #8fa8cd;
    overflow-y: auto;
    font-family: "Open Sans", sans-serif;
}
h2 {
    text-align: center;
}
img {
    width: 40%;
    height: auto;
    padding: .5em;
}
.left {
    float: left;
}
.right {
    float: right;
}
@media screen and (min-width: 60em) {
    section {
        width: calc(45% - 1em - 1em);
    }
    #kenny-one {
        display: flex;
        justify-content: space-evenly;
}
}
